![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Working with APIs

#### Instructions 

Following the class example, create a function that returns the price, names of origin and arrival airports and the name of the company. Do it for all the flights between two dates that cost the same.

In [9]:
import requests
import pandas as pd
import json

In [10]:
url = "https://partners.api.skyscanner.net/apiservices/v3/flights/indicative/search"

payload = { "query": {
        "market": "UK",
        "locale": "en-GB",
        "currency": "EUR",
        "queryLegs": [
            {
                "originPlace": { "queryPlace": { "iata": "LIS" } },
                "destinationPlace": { "queryPlace": { "iata": "LTN" } },
                 "fixedDate": {
            "year": 2023,
            "month": 5,
            "day": 17
        }
            }
        ]
    } }
headers = {
    "x-api-key": "prtl6749387986743898559646983194"
}

response = requests.post(url, json=payload, headers=headers)

print(response.json())

{'status': 'RESULT_STATUS_COMPLETE', 'content': {'results': {'quotes': {}, 'carriers': {}, 'places': {}}, 'groupingOptions': {'byRoute': {'quotesGroups': []}, 'byDate': {'quotesInboundGroups': [], 'quotesOutboundGroups': []}}}}

In [11]:
def flatten_dict(dd, separator='_', prefix=''):
    return {f"{prefix}{separator}{k}" if prefix else k: v
            for kk, vv in dd.items()
            for k, v in (flatten_dict(vv, separator, kk).items() if isinstance(vv, dict) else {kk: vv}.items())}

In [12]:
output= response.json()
results = output['content']['results']
quotes = results['quotes']
quotes_df = pd.json_normalize(quotes)
quotes_df.columns = [col.split(".")[-1] for col in quotes_df.columns]
flattened_results = [flatten_dict(result) for result in quotes.values()]
quote_df = pd.DataFrame.from_records(flattened_results)
quote_df

Empty DataFrame
Columns: []
Index: []

In [13]:
def flight_days(origin,destination,start_date,end_date):
    url = "https://skyscanner65.p.rapidapi.com/api/v1/flights/indicative/search"
    all_quotes = []
    date_range = pd.date_range(start=start_date, end=end_date, freq='D')
    
    for date in date_range: 
        year = date.year
        month = date.month
        day = date.day          
        payload = { "query": {
                "market": "UK",
                "locale": "en-GB",
                "currency": "EUR",
                "queryLegs": [
                    {
                        "originPlace": { "queryPlace": { "iata": origin } }, 
                        "destinationPlace": { "queryPlace": { "iata": destination } },
                         "fixedDate": {
                    "year": year,
                    "month": month,
                    "day": day
                }
                    }
                ]
            } }
        headers = {
            "content-type": "application/json",
            "X-RapidAPI-Key": "7e479aa293mshe073d8fe00da2c0p1948f7jsnc8a5c51b7f32",
            "X-RapidAPI-Host": "skyscanner65.p.rapidapi.com"
        }
        
        
     
        output= response.json()
        results = output['content']['results']
        quotes = results['quotes']
        quotes_df = pd.json_normalize(quotes)
        quotes_df.columns = [col.split(".")[-1] for col in quotes_df.columns]
        flattened_results = [flatten_dict(result) for result in quotes.values()]
        quote_df = pd.DataFrame.from_records(flattened_results)
        all_quotes.append(quote_df)

        combined_df = pd.concat(all_quotes)
        

    
    return combined_df 

flight_data = flight_days('LIS', 'LTN', '2023-05-17', '2023-06-22')
flight_data

Empty DataFrame
Columns: []
Index: []