In [52]:
import pandas as pd

In [53]:
data = {'Quotes': [{'QuoteId': 1,
   'MinPrice': 92.0,
   'Direct': False,
   'OutboundLeg': {'CarrierIds': [1065],
    'OriginId': 81727,
    'DestinationId': 50290,
    'DepartureDate': '2020-12-12T00:00:00'},
   'QuoteDateTime': '2020-09-21T10:49:00'},
                   
  {'QuoteId': 2,
   'MinPrice': 133.0,
   'Direct': True,
   'OutboundLeg': {'CarrierIds': [851],
    'OriginId': 81727,
    'DestinationId': 50290,
    'DepartureDate': '2020-12-12T00:00:00'},
   'QuoteDateTime': '2020-09-21T10:49:00'}],
   
# Cidades
 'Places': [{'PlaceId': 50290,
   'IataCode': 'EWR',
   'Name': 'New York Newark',
   'Type': 'Station',
   'SkyscannerCode': 'EWR',
   'CityName': 'New York',
   'CityId': 'NYCA',
   'CountryName': 'United States'},
  {'PlaceId': 60987,
   'IataCode': 'JFK',
   'Name': 'New York John F. Kennedy',
   'Type': 'Station',
   'SkyscannerCode': 'JFK',
   'CityName': 'New York',
   'CityId': 'NYCA',
   'CountryName': 'United States'},
  {'PlaceId': 65633,
   'IataCode': 'LGA',
   'Name': 'New York LaGuardia',
   'Type': 'Station',
   'SkyscannerCode': 'LGA',
   'CityName': 'New York',
   'CityId': 'NYCA',
   'CountryName': 'United States'},
  {'PlaceId': 81727,
   'IataCode': 'SFO',
   'Name': 'San Francisco International',
   'Type': 'Station',
   'SkyscannerCode': 'SFO',
   'CityName': 'San Francisco',
   'CityId': 'SFOA',
   'CountryName': 'United States'}],
       
# Companhias a√©reas
 'Carriers': [{'CarrierId': 819, 'Name': 'Aegean Airlines'},
  {'CarrierId': 851, 'Name': 'Alaska Airlines'},
  {'CarrierId': 870, 'Name': 'jetBlue'},
  {'CarrierId': 1065, 'Name': 'Frontier Airlines'},
  {'CarrierId': 1721, 'Name': 'Sun Country Airlines'},
  {'CarrierId': 1793, 'Name': 'United'},
  {'CarrierId': 1902, 'Name': 'Southwest Airlines'}],
        
 'Currencies': [{'Code': 'USD',
   'Symbol': '$',
   'ThousandsSeparator': ',',
   'DecimalSeparator': '.',
   'SymbolOnLeft': True,
   'SpaceBetweenAmountAndSymbol': False,
   'RoundingCoefficient': 0,
   'DecimalDigits': 2}]}

Following the class example, create a function that returns the price, names of origin and arrival airports and the name of the company. Do it for all the flights between two dates that cost the same.

In [54]:
def information():
    
    flights_list = []
    
    for flight in range(2):
        # Price
        price = data["Quotes"][flight]["MinPrice"]

        # Origin
        origin = data["Quotes"][flight]['OutboundLeg']["OriginId"]

        for place_dict in data["Places"]:
            if place_dict["PlaceId"] == origin:
                origin_name = place_dict["Name"]

        # Destination
        destination = data["Quotes"][flight]['OutboundLeg']["DestinationId"]

        for place_dict in data["Places"]:
            if place_dict["PlaceId"] == destination:
                destination_name = place_dict["Name"]

        # Company
        company = data["Quotes"][flight]["OutboundLeg"]["CarrierIds"][0]

        for company_dict in data["Carriers"]:
            if company_dict["CarrierId"] == company:
                company_name = company_dict["Name"]

        info_dict = {"Price" : price,
               "Origin airport" : origin_name,
               "Arrival airport" : destination_name, 
               "Company" : company_name}
        
        flights_list.append(info_dict)
        
    return pd.DataFrame(flights_list)

In [55]:
information()

   Price               Origin airport  Arrival airport            Company
0   92.0  San Francisco International  New York Newark  Frontier Airlines
1  133.0  San Francisco International  New York Newark    Alaska Airlines