In [1]:
'''
Following the class example, create a function that returns the price, names of origin and arrival airports and 
the name of the company. Do it for all the flights between two dates that cost the same.

'''

'\nFollowing the class example, create a function that returns the price, names of origin and arrival airports and \nthe name of the company. Do it for all the flights between two dates that cost the same.\n\n'

In [25]:
import pandas as pd

In [127]:
flight = {'Quotes': [{'QuoteId': 1,
   'MinPrice': 92.0,
   'Direct': False,
   'OutboundLeg': {'CarrierIds': 1065,
    'OriginId': 81727,
    'DestinationId': 50290,
    'DepartureDate': '2020-12-12T00:00:00'},
   'QuoteDateTime': '2020-09-21T10:49:00'},
  {'QuoteId': 2,
   'MinPrice': 133.0,
   'Direct': True,
   'OutboundLeg': {'CarrierIds': 851,
    'OriginId': 81727,
    'DestinationId': 50290,
    'DepartureDate': '2020-12-12T00:00:00'},
   'QuoteDateTime': '2020-09-21T10:49:00'}],
 'Places': [{'PlaceId': 50290,
   'IataCode': 'EWR',
   'Name': 'New York Newark',
   'Type': 'Station',
   'SkyscannerCode': 'EWR',
   'CityName': 'New York',
   'CityId': 'NYCA',
   'CountryName': 'United States'},
  {'PlaceId': 60987,
   'IataCode': 'JFK',
   'Name': 'New York John F. Kennedy',
   'Type': 'Station',
   'SkyscannerCode': 'JFK',
   'CityName': 'New York',
   'CityId': 'NYCA',
   'CountryName': 'United States'},
  {'PlaceId': 65633,
   'IataCode': 'LGA',
   'Name': 'New York LaGuardia',
   'Type': 'Station',
   'SkyscannerCode': 'LGA',
   'CityName': 'New York',
   'CityId': 'NYCA',
   'CountryName': 'United States'},
  {'PlaceId': 81727,
   'IataCode': 'SFO',
   'Name': 'San Francisco International',
   'Type': 'Station',
   'SkyscannerCode': 'SFO',
   'CityName': 'San Francisco',
   'CityId': 'SFOA',
   'CountryName': 'United States'}],
 'Carriers': [{'CarrierId': 819, 'Name': 'Aegean Airlines'},
  {'CarrierId': 851, 'Name': 'Alaska Airlines'},
  {'CarrierId': 870, 'Name': 'jetBlue'},
  {'CarrierId': 1065, 'Name': 'Frontier Airlines'},
  {'CarrierId': 1721, 'Name': 'Sun Country Airlines'},
  {'CarrierId': 1793, 'Name': 'United'},
  {'CarrierId': 1902, 'Name': 'Southwest Airlines'}],
 'Currencies': [{'Code': 'USD',
   'Symbol': '$',
   'ThousandsSeparator': ',',
   'DecimalSeparator': '.',
   'SymbolOnLeft': True,
   'SpaceBetweenAmountAndSymbol': False,
   'RoundingCoefficient': 0,
   'DecimalDigits': 2}]}

In [192]:
def flight_search(date1, date2):
    
    destination = pd.json_normalize(flight['Quotes'])
    destination['OutboundLeg.DepartureDate']= pd.to_datetime(destination['OutboundLeg.DepartureDate'])
    destination.set_index(destination['OutboundLeg.DepartureDate'], drop=False, append=False, inplace=True)
    
    
    places = pd.json_normalize(flight['Places'])
    
    carriers = pd.json_normalize(flight['Carriers'])
    
    destination_sorted = destination.loc[date1:date2]
    new_table = destination_sorted[['MinPrice','OutboundLeg.DestinationId','OutboundLeg.OriginId','OutboundLeg.CarrierIds']]
    
    table_join = pd.merge(new_table, places, left_on='OutboundLeg.DestinationId', right_on ='PlaceId')
    table_join1 = pd.merge(table_join, places, left_on='OutboundLeg.OriginId' , right_on ='PlaceId')
    table_join2 = pd.merge(table_join1, carriers, left_on='OutboundLeg.CarrierIds', right_on = 'CarrierId')
    
    return pd.DataFrame({'Price USD':table_join2['MinPrice'],
                        'Origin':table_join2['Name_y'],
                        'Arrival':table_join2['Name_x'],
                        'Company':table_join2['Name']})

In [190]:
flight_search('12-12-2020', '12-12-2020')

   Price USD                       Origin          Arrival            Company
0       92.0  San Francisco International  New York Newark  Frontier Airlines
1      133.0  San Francisco International  New York Newark    Alaska Airlines