Following the class example, create a function that returns the price, names of origin and arrival airports and the name of the company. Do it for all the flights between two dates that cost the same.

In [1]:
data = {'Quotes': [{'QuoteId': 1,
                   'MinPrice': 92.0,
                   'Direct': False,
                    'OutboundLeg': {'CarrierIds': [1065],
                                    'OriginId': 81727,
                                    'DestinationId': 50290,
                                    'DepartureDate': '2020-12-12T00:00:00'},
                                    'QuoteDateTime': '2020-09-21T10:49:00'},
                    {'QuoteId': 2,
                    'MinPrice': 133.0,
                    'Direct': True,
                    'OutboundLeg': {'CarrierIds': [851],
                                    'OriginId': 81727,
                                    'DestinationId': 50290,
                                    'DepartureDate': '2020-12-12T00:00:00'},
                                    'QuoteDateTime': '2020-09-21T10:49:00'}],
         'Places': [{'PlaceId': 50290,
                    'IataCode': 'EWR',
                    'Name': 'New York Newark',
                    'Type': 'Station',
                    'SkyscannerCode': 'EWR',
                    'CityName': 'New York',
                    'CityId': 'NYCA',
                    'CountryName': 'United States'},
                  
                    {'PlaceId': 60987,
                    'IataCode': 'JFK',
                    'Name': 'New York John F. Kennedy',
                    'Type': 'Station',
                    'SkyscannerCode': 'JFK',
                    'CityName': 'New York',
                    'CityId': 'NYCA',
                    'CountryName': 'United States'},
                    
                    {'PlaceId': 65633,
                    'IataCode': 'LGA',
                    'Name': 'New York LaGuardia',
                    'Type': 'Station',
                    'SkyscannerCode': 'LGA',
                    'CityName': 'New York',
                    'CityId': 'NYCA',
                    'CountryName': 'United States'},
  
                    {'PlaceId': 81727,
                    'IataCode': 'SFO',
                    'Name': 'San Francisco International',
                    'Type': 'Station',
                    'SkyscannerCode': 'SFO',
                    'CityName': 'San Francisco',
                    'CityId': 'SFOA',
                    'CountryName': 'United States'}],
        
         'Carriers': [{'CarrierId': 819, 'Name': 'Aegean Airlines'},
                      {'CarrierId': 851, 'Name': 'Alaska Airlines'},
                      {'CarrierId': 870, 'Name': 'jetBlue'},
                      {'CarrierId': 1065, 'Name': 'Frontier Airlines'},
                      {'CarrierId': 1721, 'Name': 'Sun Country Airlines'},
                      {'CarrierId': 1793, 'Name': 'United'},
                      {'CarrierId': 1902, 'Name': 'Southwest Airlines'}],
         'Currencies': [{'Code': 'USD',
                        'Symbol': '$',
                       'ThousandsSeparator': ',',
                       'DecimalSeparator': '.',
                       'SymbolOnLeft': True,
                       'SpaceBetweenAmountAndSymbol': False,
                        'RoundingCoefficient': 0,
                        'DecimalDigits': 2}]}

In [2]:
data.keys()

dict_keys(['Quotes', 'Places', 'Carriers', 'Currencies'])

In [21]:
quotes = data['Quotes']
quotes

[{'QuoteId': 1,
  'MinPrice': 92.0,
  'Direct': False,
  'OutboundLeg': {'CarrierIds': [1065],
   'OriginId': 81727,
   'DestinationId': 50290,
   'DepartureDate': '2020-12-12T00:00:00'},
  'QuoteDateTime': '2020-09-21T10:49:00'},
 {'QuoteId': 2,
  'MinPrice': 133.0,
  'Direct': True,
  'OutboundLeg': {'CarrierIds': [851],
   'OriginId': 81727,
   'DestinationId': 50290,
   'DepartureDate': '2020-12-12T00:00:00'},
  'QuoteDateTime': '2020-09-21T10:49:00'}]

In [19]:
import pandas as pd

def flight_dataframe(data):
    quotes = data['Quotes']
    places = {place['PlaceId']: place['Name'] for place in data['Places']}
    carriers = {carrier['CarrierId']: carrier['Name'] for carrier in data['Carriers']}
    currency = data['Currencies'][0]['Code']

    flight_data = []
    for quote in quotes:
        quote_id = quote['QuoteId']
        min_price = quote['MinPrice']
        direct = quote['Direct']
        origin_id = quote['OutboundLeg']['OriginId']
        destination_id = quote['OutboundLeg']['DestinationId']
        departure_date = quote['OutboundLeg']['DepartureDate']
        carrier_id = quote['OutboundLeg']['CarrierIds'][0]

        origin_name = places.get(origin_id, '')
        destination_name = places.get(destination_id, '')
        carrier_name = carriers.get(carrier_id, '')

        flight_data.append({
            'QuoteId': quote_id,
            'MinPrice': min_price,
            'Origin': origin_name,
            'Destination': destination_name,
            'Carrier': carrier_name,
            
        })

    flight_df = pd.DataFrame(flight_data)
    return flight_df

flight_dataframe = create_flight_dataframe(data)
flight_dataframe

,QuoteId,MinPrice,Origin,Destination,Carrier
0,1,92.0,San Francisco International,New York Newark,Frontier Airlines
1,2,133.0,San Francisco International,New York Newark,Alaska Airlines